<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>RECIPE UPDATE</title>
	
	<!-- 선택한 버튼값(list, delete) 추출 -->
	<script>
		function box(hold) {
			document.getElementById("option").value = hold;
			document.getElementById("myForm").submit();
		}
	</script>
</head>

<!-- 배경색 지정 -->
<body style="background-color:#F0F8FF">

<!-- 제목 -->
<br>
<button>
<div style="text-align:left; font-size:3.3em; 
	font-weight:bold; color:#FF6633; cursor:pointer;"
	onclick="location.href='/food1'">푸드 1번지</div>
</button>

<!-- 레시피 글쓰기 -->
<h2 style="color:blue;">게시판 수정</h2>

<!-- 버튼(list, delete) 선택 -->
<form action="/recipe/updated" id="myForm">

<!-- 게시판 등록 테이블 -->
<table border="1" bgcolor="#F0F8FF" style="font-weight:bold;">
	<tr>
		<td style="text-align:center;">제목</td>
		<td><input type="text" th:value="${myTitle}" name="myTitle"></td>
	</tr>
	<tr>
		<td style="text-align:center;">작성자</td>
		<td th:text="${myId}"></td>
	</tr>
	<tr>
		<td style="text-align:center;">내용</td>
		<td colspan="2">
		<textarea rows="5" cols="30" th:text="${myContents}" name="myContents"></textarea>
		</td>
	</tr>
</table><br>


	<input type="hidden" id="option" name="option">
	<input type="button" value="목록" onclick="box('list')" style="cursor:pointer;">
	<input type="button" value="저장" onclick="box('update')" style="cursor:pointer;">
</form>

</body>
</html>
